*, *::before, *::after {
    box-sizing: border-box;
  }
* {
  margin: 0;
}
html, body {
  min-height: 100vh;
  /* https://www.freecodecamp.org/news/html-page-width-height/ */
  /* JC uses 100% b/c on mobile 100vh will take up more than 100% of the screen real estate, because mobile browsers do that thing where the browser UI comes and goes. */
  font-family: 'Roboto', sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* maybe should compare with https://meyerweb.com/eric/tools/css/reset */

@font-face {
  font-family: ;
  src: url();
}

header,
footer {
  background-color: #1f2937;
  color: white;
}

header,
section,
footer {
  padding: 5vh 15vw;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.top span {
  font-weight: bold;
}

a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  color: #f9faf8;
  padding: 0 1vw;
}

a:hover {
  color: orangered
}

.lefthead,
.headimg {
  max-width: 45vw;
  max-height: 40vh;
  color: #f9faf8;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

.lefthead p {
  font-size: 18px;
  color: #f9faf8;
  margin: 3vh 0;
}

.headimg {
  padding-left: 3vw;
}

.button,
.call2Action {
  background-color: #3882f6;
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 1vh 2vw;
}

.button {
  font-weight: bold;
}

.button:hover {
  background-color: aqua;
  color: pink;
  transition: 0.7s;
}

.secttitle {
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.container {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  column-gap: 5vw;
}

.container img {
  min-height: 25vh;
  max-height: 25vh;
  border: 5pt solid #3882f6;
  border-radius: 10%;
  margin-bottom: 2vh;
}

.quote {
  background-color: #e5e7eb;
  margin: 15vh 0;
  padding: 10vh 15vw;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
}

.quote span {
  padding-top: 5vh;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  justify-content: right;
}

.call2Action {
  margin: 10vh 15vw;
  padding: 5vh 10vw;
  height: 20vh;
  display: flex;
}

h4 {
  font-size: 2rem;
}

.c2ARight {
  padding-left: 8vw;
  align-self: center;
}

.call2Action .button {
  padding: 0.5vh 2vw;
  border: 2pt solid white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}