*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0; /* me */
  font-family: Arial, Helvetica, sans-serif; /* me */
}
html, body {
  min-height: 100vh;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* -------------------------------------------------- */


nav {
  height: 5vh;
  /* padding: 0.25rem; */
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  display: float;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  font-size: 1rem;
  padding: 3px;
}


.navbar:not(:last-child):after {
  content: "";
  height: 5vh;
  margin: auto;
  border-right: 1pt solid gray;
  /* https://stackoverflow.com/questions/41631136/add-dividing-line-between-flex-items-with-equal-space-distribution */
}

.logosum {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5vw;
}

.logosum span {
  font-size: 1.3rem;
  line-height: 1.3em;
  font-weight: 800;
  width: 1.5vw;
  text-align: center;
  color: black;
  background-color: white;
}

input[type=text] {
  margin: 5px;
}


/* -------------------------------------------------- */
section {
  padding: 5vh 1vw;
}

.bartext {
    font-size: 1.5rem;
}

.date {
  color: grey;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    padding: 5px 5px;
}


.top {
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: 50vh;
    align-items: center;
    padding: 5px 0px;
    gap: 10px;
}

.left,
.right {
  width: 50vw;
  height: 100%;
}

.left img {
  width: 100%;
  height: 100%;
}

.left .textover {
    font-size: 1.3em;
}

.image {
    position: relative;
    color: white;
}

.textover {
  padding: 5px;
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 90%;
}

.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  column-gap: 1px;
  row-gap: 1px;
  margin-left:4px;
}

.right .image {
  width: calc(50% - 1px);
  height: calc(50% - 1px);
}

.right img {
  width: 100%;
  height: 100%;
  /* either of the next two lines works, the difference is the aspect ratio */
  /* object-fit: crops, but keeps aspect ratio */
  /* max-height distorts aspect ratio */
  object-fit: cover;
  /* max-height: 100%; */
}

.right .textover {
    font-size: 1rem;
    width: 90%;
}

.title {
  font-weight: bold;
}



h2 {
  width: 100vw;
  max-width: 100%;
  margin-left: 4px;
  margin-bottom: 1vh;
  padding-left: 4px;
  border-left: 4px solid red;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    height: 40vh;
}

.newsart {
    width: 33%;
    height: 100%;
}

.newsart img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

.newsart h3{
  margin-top: 10px;
}

.newsart p {
  margin-top: 10px;
}

p.categoryred,
p.categoryblue,
p.categorygray {
  color: darkgray;
  font-size: 0.8rem;
  line-height: 0.8rem;
  border-left: 2px solid red;
  margin-top: 15px;
  padding-left: 4px;
}

.categoryblue {
  border-left: 2px solid lightskyblue;
}

.categorygray {
  border-left: 2px solid gray;
}